.console {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.console .content {
  flex: auto;
  display: flex;
}

.console .pages {
  flex: auto;
  display: flex;
  flex-direction: column;
}

.console .page {
  flex: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
