.console {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 1200px;
  display: flex;
  flex-direction: column;
}

.console .content {
  flex: auto;
  display: flex;
}

.console .content .pages {
  flex: auto;
  display: flex;
  flex-direction: row;
}

.console .content .pages .page {
  flex: auto;
  display: none;
  flex-direction: column;
  padding: 1rem;
}

.console .content .pages .page .pre-page {
  margin: -1rem -1rem 1rem -1rem;
}

.console .content .pages .page.selected {
  display: flex;
}

