.fighter-summary .info.record {
  flex: 5;
  background: #eee;
  cursor: pointer;
}

.fighter-summary .info.record label {
  color: #333;
  cursor: pointer;
}

p.no-record {
  font-size: 0.8rem;
  padding: 1rem;
  text-align: center;
}
