.page.fighters .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.page.fighters .title .selectors {
  display: flex;
  justify-content: flex-end;
}

.page.fighters .title .selectors .selector + .selector{
  margin-left: 2rem;
}

.page.fighters .list {
  max-height: 800px;
  overflow-y: scroll;
}

.page.fighters .list.scroller {
  display: block;
}
