.fighter-summary {
  flex: 3;
  display: flex;
  justify-content: space-between;
}

.fighter-summary + .fighter-summary {
  margin-top: 0.1rem;
}

.fighter-summary .info {
  flex: 3;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  padding: 0.5rem;
  border-bottom: solid 1px #ccc;
}

.fighter-summary .info + .info {
  margin-left: 0.1rem;
}

.fighter-summary .info h1 {
  font-size: 1.1rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fighter-summary .info h2 {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #999;
}

.fighter-summary .detail {
  flex: 1;
  display: flex;
  padding: 0.1rem;
}

.fighter-summary .detail label,
.fighter-summary .detail p {
  font-size: 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fighter-summary .detail label:after {
  content: ':';
  margin-right: 0.5rem;
}

.fighter-summary .detail.discipline label:after {
  content: none;
}

.fighter-summary .detail label {
  flex: 2;
  color: #999;
  min-width: 60px;
}

.fighter-summary .detail p {
  flex: 3;
  color: #333;
}

.fighter-summary .detail.discipline p {
  display: flex;
  justify-content: space-between;
}

.fighter-summary .detail.discipline p span {
  flex: 1;
}
