.header > .logo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #e5192c;
  background-image: url(../assets/logo-fr.png);
  width: 75px;
}