.menu {
  flex: 0 0 200px;
  background: #555;
  color: #eee;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  padding: 1rem;
  border-bottom: solid 1px #333;
  cursor: pointer;
}

.menu li:hover {
  background-color: rgba(255,255,255,0.1);
}