# Folders
bower_components/
build/
coverage/
lib-cov/
logs/
node_modules/
pids/

_notes/

# Files with extensions
*.log
*.pid
*.pid.lock
*.seed
*.tgz

# Specific files
.pnp.js
firebase-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Specific settings files
.DS_Store
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.firebase
# .firebaserc
.grunt
.lock-wscript
.node_repl_history
.npm
.nyc_output
.pnp
.yarn-integrity

/public/*
