.onboard {
  flex: auto;
  overflow: hidden;
  max-width: 100vw;
  display: flex;
}

.onboard h1,
.onboard h2 {
  margin: 0;
  color: #fff;
}

.onboard p {
  color: #fff;
  background: rgba(0,0,0,0.2);
  padding: 1rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
}

.onboard p.small {
  font-size: 0.7rem;
}

.onboard a {
  text-decoration: none;
  color: #f99;
}

.onboard a:hover {
  color: #fff;
}

.onboard button {
  display: block;
}

.onboard input {
  display: block;
}

.onboard-inner {
  flex: auto;
  display: flex;
  transition: margin-left 0.5s ease-in-out;
}

.onboard-page {
  flex: 1;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
}

.onboard-page > div.darkred-red {
  background: #c21424;
  background: linear-gradient(100deg, #c21424 0%, #c21424 50%, #9c101e 50%, #e5192c 52%, #e5192c 100%);
}

.onboard-page > div.darkred-white {
  background: #c21424;
  background: linear-gradient(100deg, #c21424 0%, #c21424 50%, #666 50%, #fff 52%, #fff 100%);
}

.onboard-page > div.red-grey {
  background: #e5192c;
  background: linear-gradient(100deg, #e5192c 0%, #e5192c 50%, #141418 50%, #222329 52%, #222329 100%);
}

.onboard-page > div.red-white {
  background: #e5192c;
  background: linear-gradient(100deg, #e5192c 0%, #e5192c 50%, #666 50%, #fff 52%, #fff 100%);
}

.onboard-page > div.grey-darkred {
  background: #222329;
  background: linear-gradient(100deg, #222329 0%, #222329 50%, #790c17 50%, #c21424 52%, #c21424 100%);
}

.onboard-page > div.grey-white {
  background: #222329;
  background: linear-gradient(100deg, #222329 0%, #222329 50%, #666 50%, #fff 52%, #fff 100%);
}

.onboard-page > div.white-grey {
  background: #fff;
  background: linear-gradient(100deg, #fff 0%, #fff 50%, #141418 50%, #222329 52%, #222329 100%);
}

.onboard-page .row {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem -1rem;
  max-width: 1000px;
}

.onboard-page .row .column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  min-width: 200px;
}

.onboard-page .row .column .buttons {
  display: flex;
}

.onboard-page .row .column .buttons button + button {
  margin-left: 0.5rem;
}

.onboard-page button {
  margin: 0.5rem 0;
  width: 100%;
  outline: none;
}

.onboard-content {
  flex: 1;
  box-sizing: border-box;
  padding: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onboard-content.logo {
  align-items: center;
}

.onboard-content.logo .inner {
  flex: 0 0 150px;
  min-width: 150px;
  background-image: url(../../_framework/theme/default/assets/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 100px;
}

.onboard-content.logo h1 {
  margin: 0;
  margin-top: -40px;
  margin-left: 120px;
  color: #fff;
  font-size: 1rem;
  font-style: italic;
  text-transform: uppercase;
  text-align: center;
}

.onboard-content.logo i {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  display: none !important;
}

.selected .onboard-content.logo i {
  display: block !important;
  cursor: pointer;
}

.onboard-content.fighter {
  justify-content: flex-start;
}
